server:
  port: 8082

spring:
  application:
    name: auth-service
  datasource:
    # Uses 'localhost' by default, or the env var 'DB_HOST' when in Docker
    url: jdbc:postgresql://${DB_HOST:localhost}:5432/auth_db
    username: ${DB_USER:postgres}
    password: ${DB_PASSWORD:password}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect